 <form action="/favourites" method="POST">
         <input type="hidden" name="homeId" value="<%= home._id %>">
        <button
          type="submit"
          class="flex items-center gap-2 text-gray-600 border border-gray-300
                 px-4 py-2 rounded-full hover:bg-red-50 hover:text-red-500
                 transition"
        >
          ❤️ Save
        </button>
       

      </form>