<%- include('partials/head') %>
<body class="bg-gray-50 min-h-screen flex flex-col">

  <!-- Header -->
<%- include('partials/nav') %>

  <!-- Main -->
  <main class="flex-grow flex items-center justify-center px-4">
    <div class="bg-white p-8 rounded-xl shadow-lg max-w-md w-full">

      <form
        action="/host/add-home"
        method="POST"
        class="space-y-6"
      >


     
        <!-- Input -->
        <div>
           <label class="block text-black  font-extrabold text-2xl text-center mb-3">
            Register Your Home on AirBnB
          </label>
          
          <input
            type="text"
            name="houseName"
            placeholder="Enter the name of your house"
            required
            class="w-full border border-gray-300 rounded-lg px-4 py-2
                   focus:outline-none m-1.5 focus:ring-2 focus:ring-red-400"
          />
            <input
            type="text"
            name="price"
            placeholder="Price per night"
            required
            class="w-full border border-gray-300 rounded-lg px-4 py-2
                   focus:outline-none m-1.5 focus:ring-2 focus:ring-red-400"
          />
            <input
            type="text"
            name="location"
            placeholder="location"
            required
            class="w-full border border-gray-300 rounded-lg px-4 py-2
                   focus:outline-none m-1.5 focus:ring-2 focus:ring-red-400"
          />

           <input
            type="text"
            name="Rating"
            placeholder="Rating"
            required
            class="w-full border border-gray-300 rounded-lg px-4 py-2
                   focus:outline-none m-1.5 focus:ring-2 focus:ring-red-400"
          />
           <input
            type="text"
            name="PhotoURL"
            placeholder="Enter Photo URL"
            required
            class="w-full border border-gray-300 rounded-lg px-4 py-2
                   focus:outline-none m-1.5 focus:ring-2 focus:ring-red-400"
          />
          

        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full bg-red-500 text-white font-semibold py-3 rounded-lg
                 hover:bg-red-600 transition shadow-md"
        >
          Add Home
        </button>
      </form>

    </div>
  </main>

  <!-- Footer -->
  <footer class="text-center text-sm text-gray-500 py-4">
    © 2026 Airbnb Clone
  </footer>

</body>
</html>
