<%- include('partials/head') %>
</head> 
<body class="bg-gray-50 min-h-screen flex flex-col items-center justify-center">

  <div class="text-center p-6">
    <!-- 404 Code -->
   
    <h1 class="text-red-800 text-9xl"> 404 </h1>

    <!-- Message -->
    <p class="text-gray-600 text-lg mb-6">
      Oops! Your page was not found on Airbnb.
    </p>

    <!-- Home Button -->
    <a
      href="/"
      class="bg-red-500 text-white font-semibold px-6 py-3 rounded-lg
             hover:bg-red-600 transition shadow-md"
    >
      Go Back Home
    </a>
  </div>

</body>
</html>
