<%- include('../partials/head') %>
</head> 
<body>
  <%- include('../partials/nav') %>
  <div class="text-center p-6">
    <!-- 404 Code -->
   
    <h1 class="text-red-500 text-5xl font-bold"> My Bookings </h1>

    <!-- Message -->
    <p class="text-gray-600 text-lg mb-6">
      Bookings will apear here
    </p>
  </div>

</body>
</html>
